.collapse-title {
  background-color: var(--main-color);
  height: 47px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 17px 5px 17px;
  box-sizing: border-box;
  p {
    color: #fff;
    font-size: 24px;
  }
  .arrow {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: 0.5s;
    &.down {
      transform: rotate(-0.5turn);
    }
  }
}

.collapse-parent {
  &.show {
    height: 300px;
    overflow: hidden;
    transition: height 0.6s ease;
    p {
      transform: translate(0px, 20px);
    }
  }
  &.hide {
    overflow: hidden;
    height: 0px;
    transition: height 0.6s ease;
  }
}
.collapse-content {
  background-color: var(--background-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0px 16px 10px 16px;
  p,
  ul {
    transition: 0.4s;
    padding-bottom: 18px;
  }
}
