.error404,
.error-msg,
.link-to-home {
  text-align: center;
}
.error404 {
  font-size: 288px;
  font-weight: 700;
  margin-top: 100px;
}
.error-msg {
  margin-top: 20px;
  font-size: 36px;
}
.link-to-home {
  margin-top: 130px;
}
